In [1]:
import pandas as pd

In [2]:

df = pd.read_csv(r'D:\new data\datasets\Walmart_data.csv')
print(df.head())

    Invoice_id Branch       City Customer_type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product_line  Unit_price  Quantity  Tax_5_percent   Total  \
0       Health and beauty       74.69         7          26.14  548.97
1  Electronic accessories       15.28         5           3.82   80.22
2      Home and lifestyle       46.33         7          16.22  340.53
3       Health and beauty       58.22         8          23.29  489.05
4       Sports and travel       86.31         7          30.21  634.38

         Date      Time      Payment    Cogs  Gross_margin_percentage  \
0  2019-01-05  13:08:00      Ewallet  522.83                     4.76
1  2019-03-08  10:29:00         Cash   76.40                     4.76
2  2019-03-03  13:23:00  Credit card  324.31                     4.76
3  2019-01-27  20:33:00      Ewallet  465.76                     4.76
4  2019-02-08  10:37:00      Ewallet  604.17                     4.76

   Gross_income  Rating
0         26.14     9.1
1          3.82     9.6
2         16.22     7.4
3         23.29     8.4
4         30.21     5.3

In [6]:
df

,Invoice_id,Branch,City,Customer_type,Gender,Product_line,Unit_price,Quantity,Tax_5_percent,Total,Date,Time,Payment,Cogs,Gross_margin_percentage,Gross_income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,2019-01-05,13:08:00,Ewallet,522.83,4.76,26.14,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2019-03-08,10:29:00,Cash,76.40,4.76,3.82,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.22,340.53,2019-03-03,13:23:00,Credit card,324.31,4.76,16.22,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.29,489.05,2019-01-27,20:33:00,Ewallet,465.76,4.76,23.29,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.21,634.38,2019-02-08,10:37:00,Ewallet,604.17,4.76,30.21,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.02,42.37,2019-01-29,13:46:00,Ewallet,40.35,4.76,2.02,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,2019-03-02,17:16:00,Ewallet,973.80,4.76,48.69,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.59,33.43,2019-02-09,13:22:00,Cash,31.84,4.76,1.59,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.29,69.11,2019-02-22,15:33:00,Cash,65.82,4.76,3.29,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.92,649.30,2019-02-18,13:28:00,Cash,618.38,4.76,30.92,6.6

## Walmart product Analysis

In [4]:
import numpy as np

In [7]:
# Most purchased product_line by gender

grouped = df.groupby(['Gender', 'Product_line']).size().reset_index(name='purchase_count')

grouped['rank_by_gender'] = grouped.groupby('Gender')['purchase_count']\                                  
.rank(method='dense', ascending=False)
.astype(int)

result = grouped.sort_values(by=['Gender', 'rank_by_gender'])

print(result)

    Gender            Product_line  purchase_count  rank_by_gender
1   Female     Fashion accessories              96               1
2   Female      Food and beverages              90               2
5   Female       Sports and travel              88               3
0   Female  Electronic accessories              84               4
4   Female      Home and lifestyle              79               5
3   Female       Health and beauty              64               6
9     Male       Health and beauty              88               1
6     Male  Electronic accessories              86               2
8     Male      Food and beverages              84               3
7     Male     Fashion accessories              82               4
10    Male      Home and lifestyle              81               5
11    Male       Sports and travel              78               6

In [10]:
mean=np.mean(result['purchase_count'])
median=np.median(result['purchase_count'])
std=np.std(result['purchase_count'])

print("Mean purchase count:",mean)
print("Median purchase count:",median)
print("stardard deviation:",std)

Mean purchase count: 83.33333333333333
Median purchase count: 84.0
stardard deviation: 7.553512795749773

In [20]:
"""Calculated mean, median, and standard deviation of purchase counts per product line
within each gender group

# df.groupby('gender')	Groups the data into two buckets: Male and Female
# ['purchase_count']	Weâ€™re only interested in the purchase_count column
# .agg(['mean', 'median', 'std'])	Computes the mean, median, and standard deviation for each gender group
# .reset_index()	Converts the group labels back into normal columns """  


grouped = df.groupby(['Gender', 'Product_line']).size().reset_index(name='purchase_count')
grouped_stats=grouped.groupby('Gender')['purchase_count'].agg(['mean','median','std']).reset_index()

print(grouped_stats)

"""
The data shows that both females and males purchase a similar average number of products (around 83),
as seen from the mean values.

However, the standard deviation (std) for females is much higher than that for males (11.13 vs. 3.60). This indicates that females show more variation in the quantity of different product categories they buy â€” they buy some product types much more than others.

In contrast, males have a lower standard deviation, meaning they tend to 
purchase all product categories in similar quantities, showing more consistency and less preference.

The median (the middle value when all product counts are sorted) is also slightly higher
for females (86 vs. 83), which further supports that females generally buy slightly more 
in some categories.
"""

   Gender       mean  median        std
0  Female  83.500000    86.0  11.131038
1    Male  83.166667    83.0   3.600926

In [25]:
#  product line generates the highest total sales

highest_sales=df.groupby('Product_line')['Total'].sum().reset_index()
highest_sales=highest_sales.rename(columns={'Total':'Quantity_sold'})
highest_sales=highest_sales.sort_values(by='Quantity_sold',ascending=False)

print(highest_sales)

             Product_line  Quantity_sold
2      Food and beverages       56144.87
5       Sports and travel       55122.91
0  Electronic accessories       54337.45
1     Fashion accessories       54305.89
4      Home and lifestyle       53861.91
3       Health and beauty       49193.74

In [4]:
# the average unit price per product line.

Average_unit=df.groupby('Product_line')['Unit_price'].mean().reset_index()
Average_unit=Average_unit.rename(columns={'Unit_price':'Avg_unit_price'})
Average_unit=Average_unit.sort_values(by='Avg_unit_price',ascending=False)

print(Average_unit)

             Product_line  Avg_unit_price
1     Fashion accessories       57.153652
5       Sports and travel       56.993253
2      Food and beverages       56.008851
4      Home and lifestyle       55.316937
3       Health and beauty       54.854474
0  Electronic accessories       53.551588

In [8]:
# Which product line has the highest customer rating on average

Customer_rating=df.groupby('Product_line')['Rating'].mean().reset_index()
Customer_rating=Customer_rating.rename(columns={'Rating':'Cust_rating'})
Customer_rating=Customer_rating.sort_values(by='Cust_rating',ascending=False)

print(Customer_rating)

             Product_line  Cust_rating
2      Food and beverages     7.113218
1     Fashion accessories     7.029213
3       Health and beauty     7.003289
0  Electronic accessories     6.924706
5       Sports and travel     6.916265
4      Home and lifestyle     6.837500

In [9]:
# Which product line has the highest quantity sold?

Quantity_sold=df.groupby('Product_line')['Quantity'].sum().reset_index()
Quantity_sold=Quantity_sold.rename(columns={'Quantity':'Quantity_sold'})
Quantity_sold=Quantity_sold.sort_values(by='Quantity_sold',ascending=False)

print(Quantity_sold)

             Product_line  Quantity_sold
0  Electronic accessories            971
2      Food and beverages            952
5       Sports and travel            920
4      Home and lifestyle            911
1     Fashion accessories            902
3       Health and beauty            854

In [21]:
# Is there a significant difference in gross income among product lines?
"""
Product_gross_income =df.groupby('Product_line')['Gross_income'].mean().reset_index()
Product_gross_income=Product_gross_income.rename(columns={'Gross_income':'Gross_income'})
Product_gross_income=Product_gross_income.sort_values(by='Gross_income',ascending=False)

print(Product_gross_income)

Gross_income_std=np.std(df['Gross_income'])
Gross_income_var=np.var(df['Gross_income'])

print("standard deviation:\n",Gross_income_std)
print("Variance:\n",Gross_income_var)  """

             Product_line  Gross_income
4      Home and lifestyle     16.030000
5       Sports and travel     15.813072
3       Health and beauty     15.412105
2      Food and beverages     15.365402
0  Electronic accessories     15.220765
1     Fashion accessories     14.528034
standard deviation:
 11.702986544463766
Variance:
 136.95989405989997

In [5]:
# Is there a significant difference in gross income among product lines?
from scipy.stats import f_oneway

grouped_data=[group['Gross_income'].values for name, group in df.groupby('Product_line')]

""" Each product line is treated as a separate group
ðŸŸ¦ Between-group variance: How far the product line means are from the overall mean

ðŸŸ¨ Within-group variance: How spread out the values are inside each group"""

anova_result=f_oneway(*grouped_data)

print("F-statistic:", anova_result.statistic)

"""
If p < 0.05, the group means are significantly different

If p > 0.05, the differences might be due to chance"""
print("p-value:", anova_result.pvalue)

F-statistic: 0.3379623138426643
p-value: 0.8900413363238716

## Walmart Customer Analysis

In [5]:
# Do members spend more than non-members on average

Customers=df.groupby('Customer_type')['Total'].mean().reset_index()
Customers=Customers.rename(columns={'Total':'Avg_spent_amount'})
Customers=Customers.sort_values(by='Avg_spent_amount',ascending=False)

print(Customers)

  Customer_type  Avg_spent_amount
0        Member        327.791337
1        Normal        318.122866

In [6]:
# significant difference in total spending between male and female customers

Gender_spending=df.groupby('Gender')['Total'].mean().reset_index()
Gender_spending=Gender_spending.rename(columns={'Total':'spend_amount'})
Gender_spending=Gender_spending.sort_values(by='spend_amount',ascending=False)

print(Gender_spending)

   Gender  spend_amount
0  Female    335.095709
1    Male    310.789218

In [7]:
#  Average rating given by male vs female customers.

Gender_rating=df.groupby('Gender')['Rating'].mean().reset_index()
Gender_rating=Gender_rating.rename(columns={'Rating':'Avg_rating'})
Gender_rating=Gender_rating.sort_values(by='Avg_rating',ascending=False)

print(Gender_rating)

   Gender  Avg_rating
1    Male    6.980962
0  Female    6.964471

In [10]:
#  gender gives higher average ratings( mean and std)

grouped_stats=df.groupby('Gender')['Rating'].agg(['mean','std']).reset_index()

print(grouped_stats)

   Gender      mean       std
0  Female  6.964471  1.755761
1    Male  6.980962  1.682146

## Walmart Sales Analysis

In [7]:
# Branch generates the most revenue.

Branch=df.groupby('Branch')['Total'].sum().reset_index()
Branch=Branch.rename(columns={'Total':'Branch_Revenue'})
Branch=Branch.sort_values(by='Branch_Revenue',ascending=False)

print(Branch)

  Branch  Branch_Revenue
2      C       110568.72
0      A       106200.34
1      B       106197.71

In [13]:
# What is the daily average sales across the dataset.

Sales=df.groupby('Date')['Total'].mean().reset_index()
Sales=Sales.rename(columns={'Total':'Avg_sales'})
Sales=Sales.sort_values(by='Avg_sales',ascending=False)

print(Sales)

Sales=df.groupby('Date')['Total'].sum().reset_index()
Sales=Sales.rename(columns={'Total':'Total_sales'})
Sales=Sales.sort_values(by='Total_sales',ascending=False)

print(Sales)

          Date   Avg_sales
41  2019-02-11  567.768750
87  2019-03-29  502.906250
11  2019-01-12  471.339091
49  2019-02-19  469.792222
67  2019-03-09  467.127500
..         ...         ...
71  2019-03-13  206.361000
76  2019-03-18  184.691429
65  2019-03-07  159.806667
84  2019-03-26  150.963077
43  2019-02-13  116.781250

[89 rows x 2 columns]
          Date  Total_sales
67  2019-03-09      7474.04
37  2019-02-07      7228.19
72  2019-03-14      7214.63
45  2019-02-15      6830.79
60  2019-03-02      6560.30
..         ...          ...
48  2019-02-18      1496.03
65  2019-03-07      1438.26
51  2019-02-21      1393.74
76  2019-03-18      1292.84
43  2019-02-13       934.25

[89 rows x 2 columns]

In [21]:
# What is the average gross income per transaction.

Gross_inc=df.groupby('Product_line')['Gross_income'].mean().reset_index()
Gross_inc=Gross_inc.rename(columns={'Gross_income':'Avg_Gross_income'})
Gross_inc=Gross_inc.sort_values(by='Avg_Gross_income',ascending=False)

print(Gross_inc)

             Product_line  Avg_Gross_income
4      Home and lifestyle         16.030000
5       Sports and travel         15.813072
3       Health and beauty         15.412105
2      Food and beverages         15.365402
0  Electronic accessories         15.220765
1     Fashion accessories         14.528034

In [22]:
# How much tax is collected on average per product line

Tax_per_product=df.groupby('Product_line')['Tax_5_percent'].mean().reset_index()
Tax_per_product=Tax_per_product.rename(columns={'Tax_5_percent':'Avg_tax'})
Tax_per_product=Tax_per_product.sort_values(by='Avg_tax',ascending=False)

print(Tax_per_product)

             Product_line    Avg_tax
4      Home and lifestyle  16.030000
5       Sports and travel  15.813072
3       Health and beauty  15.412105
2      Food and beverages  15.365402
0  Electronic accessories  15.220765
1     Fashion accessories  14.528034